*{
    padding: 0%;
    margin: 0%;
    
}
body{
    margin: auto;
    
    
    
}
.mydark{
    background-color: black;
    color: white;
    
}

/********************NAVBAR*******************/
nav{
    background-color: #047BD5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    height: 56px;
    overflow: visible;
    position: fixed;
    z-index: 450;
    
    
}
#weather{
    
    color: white;
    padding-top: 2px;
    padding-left: 4px;
    font-size: 11px;
    font-weight: bolder;
    height: 20px;
    width: 50px;
    

}
#weather img{
    height: 28px;
    width: 28px;
    margin-top: -18%;
}
#weather p{
    margin-top: -8px;
}
#darkMode{
    margin-right: 5%;
    
}

#darkMode button{
    border-radius: 50%;
    display: block;
    font-size: large;
    background-color: white;
    padding: 2px 2px;
    

}

.plus-color{
    color: #F8E831;
    font-weight: 900;
}

.logo p{
    color: white;
    position: relative;
    top: -5px;
}
.search{
    background-color: white;
    padding: 4px 10px;
    width: 25%;
    height: 25px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: #047BD5;
    box-shadow: -7px -7px 10px rgba(0, 0, 0, 0.1),
    7px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    z-index: 5;
    overflow: hidden;
}

.search input{
    width: 380px;
    border: none;
    outline: none;
    font-size: 13px;

}
.loginBtn{
    padding: 7px 40px;
    font-size: 16px;
    font-weight: 550;
    border: none;
    outline: none;
    color: #047BD5;
    cursor: pointer;

}
.Navlink{
    margin: 0px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.angledownIcon i{
    font-size: 10px;
}
/***********************searchbar Dropdown****************************/
.RecentSearch{
    display: none;
    position: absolute;
    background-color: white;
    top: 47px;
    width: 25%;
    padding: 8px;
    margin-left: -10px;
    height: 330px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid gray;
}
.RecentSearch_List{
    font-size: 15px;
    display: flex;
    color: gray;
    min-height: 25px;
    border-bottom: 2px solid rgb(203, 199, 199);
    
}

.RecentSearch_List p,
.RecentSearch_List_Discover p
{
    padding-left: 10px;
}
.discoverMore{
    margin: 10px 0px;
    font-size: 15px;
    color: gray;
}
.RecentSearch_List_Discover{
    padding: 10px 0px;
    display: flex;
    color: rgb(100, 99, 99);

}
.search:focus-within .RecentSearch{
    display: block;
}
/*************************Login Dropdown*******************************/
.HoverLogin{
    position: absolute;
    top: 75px;
    height: 300px;
    width: 200px;
    margin-left: -110px;
    background-color: white;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    font-weight: 500;
    font-size: 20;
    color: black;
    display: none;
    z-index: 5;

}
.triangle-up{
    position: relative;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    top: -10px;
    
    

}
.Newuser{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.Newuser a{
    color: royalblue;
    text-decoration: none;
}
.Newuser a:hover{
    text-decoration: underline;
}
.loginMenu{
    width: 230px;
    margin-top: 15px;
    
}
.menuList{
    display: flex;
    padding: 10px 0px;

}
.menuList p{
    padding-left: 20px;
}
.menuList i{
    color: #047BD5;
    padding-left: 25px;
}
.loginBtn:hover .HoverLogin{
    display: flex;
    cursor: pointer;

}
/***********************Top Product Navbar*************************************/
.topProductNavbar{
    height: 125px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    margin-bottom: 10px;
    padding-top: 70px;
    /* padding: 10px 50px; */
    /* border-bottom: 1px solid rgb(185, 183, 183); */
    /* border: 2px solid green; */
    /* overflow: auto; */
    
    
    
}

.topProductNavbar_Nav{
    height: 125px;
    width: 8%;
    margin-right: 10px;
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    /* flex: 1; */
}
.topProductNavbar_Nav img{
    height: 70px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3px;
}
.topProductNavbar_Nav p{
    font-weight: 510;
    width: 90%;
    margin-left: 5%;
    height: 25px;
    text-align: center;
}
.topProductNavbar_Nav:hover p{
    color: #047BD5;
}

/**************************styling the slider corousel*******************/
.slider{
    width: 100%;
    display: flex;
    padding-top: 20px;
    overflow: hidden;
    /* border: 2px solid orange; */
}
.sliderImge{
    
    height: 250px;
    padding-right: 20px;
    animation: 15s sliderimages infinite;
    overflow: auto;
}

.Slider_image{
    display: flex;
    padding: 0px 10px;
    

}
.btn-container{
    margin: auto;
    width: 10px;
    
}
.btn{
    padding: 35px 10px;
    background-color: white;
    font-size: 40px;
    position: relative;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn-left{
    position: relative;
    z-index: 5;
    display: none;
    
}
.btn-right{
    position: relative;
    z-index: 5;
    left: -35px;
    display: none;
}

@keyframes sliderimages{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(-100%);
    }
    40%{
        transform: translate(-200%);
    }
    60%{
        transform: translate(-300%);
    }
    80%{
        transform: translate(-400%);
    }
    95%{
        transform: translate(-500%);
    }
}

.emptySpace{
    width: 100%;
    height: 20px;
    background-color: rgb(227, 222, 222);
}

/*************************Best of electronics*********************************/
.best-of-elec-title{
    width: 90%;
    min-height: 40px;
    padding: 10px 20px;
    border-bottom: 2px solid rgb(190, 186, 186);
    /* border: 2px solid darkblue; */
    /* overflow:scroll */
    
}
.owl-theme{
    height: 310px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    /* padding: 7px 10px; */
    border-bottom: 1px solid rgb(185, 183, 183);
    
}
.item{
    padding-top: 20px;
    padding-left: 10px;
    width: 150px;
    cursor: pointer;
    flex: 1;
    justify-content: center;
    
    
}

.item img{
    height: 150px;
    max-width: 150px;
}


.item-name{
    font-weight: 550;
    font-size: 15px;
    padding-bottom: 5px;
}
.price{
    text-decoration: underline;
    color: green;
    font-weight: 400;
    font-size: 14px;
}
.item-description{
    color: gray;
    font-weight: 400;
    font-size: 14px;
    
}
/***************flipkart description*******************/
.flipkart-des,.flipkart-plus-des{
    height: 100%;
    font-size: 12px;
    color: gray;
    padding-left: 20px;
}
/**********************Footer****************************/

footer{
    height: 300px;
    background-color: #212121;
    padding-top: 2px;
    width: 100%;
    
    margin-bottom: 0%;
}

.about, .help, .policy, .social, .mailUs , .Roa{
    width: 11%;
    height: 75%;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 0px 15px;
    float: left;
    color: white;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
    

    
}
.about :hover, .help :hover, .policy :hover,.social :hover{
    text-decoration: underline;
}
.about{
    margin-left: 10px;
}
.mailUs , .Roa{
    width: 23%;
    margin-top: 25px;
    padding: 10px 5px;
    
}
.mailUs{
    margin-left: 10px;
}
.social{
    border-right: 2px solid lightgray ;
    
}
.about , .help, .policy, .social, .mailUs , .Roa {
    margin-top: 25px;
    padding: 10px 0px;
    
    
}
.about span, .help span, .policy span, .social span, .mailUs span, .Roa Span{
    padding-top: 5px;
    
}
.devFun{
    text-align: center;
    color: white;
      
}

/******************Adjusting Screen Size**********************/
@media only screen and (max-width:375px) {
    .Navlink{
        display: none;
    }
}

@media only screen and (max-width:500px) {
    /*************navbar media***********************/
    nav{
        
        padding-bottom: 6px;
        padding-top: 6px;
        width: 100%;
        height: 40px;
        overflow: visible;
        
    }
    #weather{
    
        color: white;
        padding-top: 4px;
        padding-left: 4px;
        font-size: 8px;
        font-weight: bolder;
        height: 20px;
        width: 50px;
    
    }
    #weather img{
        height: 20px;
        width: 20px;
    }
    #darkMode{
        margin-left: 2%;
        margin-right: 2%;
    }
    #darkMode button{
        border-radius: 50%;
        display: block;
        font-size:small;
        background-color: white;
        padding: 2px 2px;
    
    }
    .logo{
        margin-left: 2%;
    }
    .logo img{
        height: 13px;
        width: 40px;
    }
    .logo p{
        font-size: 9px;
    }
    .search{
        
        padding: 2px 5px;
        width: 30%;
        min-width: 75px;
        height: 15px;
        margin: 0px 15px;
        overflow: hidden;

    }
    .search i{
        font-size: 8px;
        margin-top: 5%;
    }
    .search input{
        width: 75px;
        
        font-size: 8px;
    
    }
    .RecentSearch{
        height: 220px;
        margin-top: -12px;
        margin-left: 0px;
    }
    .RecentSearch_List{
        font-size: 8px;
    }
    .discoverMore{
        margin: 4px 0px;
        font-size: 10px;
        color: gray;
    }
    .RecentSearch_List_Discover{
        padding: 6px 0px;
        font-size: 10px;
        display: flex;
        color: rgb(100, 99, 99);
    
    }
    .Navlink{
        font-size: 8px;
        margin: 0px 4px;
    }
    .loginBtn{
        padding: 3px 8px;
        font-size: 8px;
        
        cursor: pointer;
    
    }
    /*************login dropdown*************************/
    .HoverLogin{
        position: absolute;
        top: 45px;
        height: 170px;
        width: 100px;
        margin-left: -60px;
        background-color: white;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1),
        5px 5px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        flex-direction: column;
        padding: 0px 12px;
        font-weight: 500;
        font-size: 20;
        color: black;
        display: none;
        z-index: 5;
    
    }
    .triangle-up{
        position: relative;
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid white;
        top: -10px;
        
        
    
    }
    .Newuser{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 8px;
    }
    .Newuser a{
        color: royalblue;
        text-decoration: none;
    }
    .Newuser a:hover{
        text-decoration: underline;
    }
    .loginMenu{
        width: 90px;
        margin-top: 15px;
        
    }
    .menuList{
        display: flex;
        padding: 6px 0px;
    
    }
    .menuList p{
        padding-left: 8px;
    }
    .menuList i{
        color: #047BD5;
        padding-left: 5px;
    }
    .loginBtn:hover .HoverLogin{
        display: flex;
        cursor: pointer;
    
    }
    /*********Topnavbar media************/
    .topProductNavbar{
        height: 70px;
        width: 100%;
        
        margin-bottom: 3px;
        
        
        
        
    }
    .topProductNavbar_Nav{
        height: 50px;
        width: 8%;
        margin-right: 3px;
        padding: 2px;
        display: inline-block;
        cursor: pointer;
        /* flex: 1; */
    }
    .topProductNavbar_Nav img{
        height: 40px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 3px;
    }
    .topProductNavbar_Nav p{
        font-weight: 250;
        width: 90%;
        margin-left: 5%;
        height: 10px;
        text-align: center;
        font-size: 8px;
        display: inline-block;
    }
    /**********slider image***************/
    
    .sliderImge{
        
        height: 90px;
        padding-right: 20px;
        animation: 15s sliderimages infinite;
        overflow: auto;
    }
    /**************empty space media***********************/
    .emptySpace{
        height: 10px;
    }
    /***************best of electronus media**************************/
    .best-of-elec-title{
        
        min-height: 30px;
        padding: 5px 10px;
        font-size: 10px;
        
    }
    .owl-theme{
        height: 200px;
        width: 100%;
        
        
    }
    .item{
        padding-top: 10px;
        padding-left: 10px;
        width: 80px;
        cursor: pointer;
        
        
    }
    
    .item img{
        height: 75px;
        max-width: 75px;
    }
    
    
    .item-name{
        font-weight: 500;
        font-size: 10px;
        padding-bottom: 2px;
    }
    .price{
        
        font-weight: 400;
        font-size: 10px;
    }
    .item-description{
        
        font-weight: 400;
        font-size: 10px;
        
    }
    footer{
        font-size: 8px;
        height: 280px;
    }
    .about, .help, .policy, .social, .mailUs , .Roa{
        font-size: 7px;
    }
    
}
@media only screen and (max-width:900px) and (min-width:500px) {
    .logo{
        margin-left: 1%;
    }
    .logo img{
        height: 13px;
        width: 40px;
    }
    .logo p{
        font-size: 9px;
    }
    #darkMode{
        margin-right: 1%;
    }
    #weather{
    
        color: white;
        padding-top: 6px;
        padding-left: 4px;
        font-size: 10px;
        font-weight: bolder;
        height: 20px;
        width: 50px;
        min-width: 40px;
    
    }
    #darkMode{
        margin-left: 3%;
    }
    #darkMode button{
        border-radius: 50%;
        display: block;
        font-size:medium;
        background-color: white;
        padding: 2px 2px;
    
    }
    .Navlink{
        font-size: 13px;
        margin: 0px 4px;
    }
    .loginBtn{
        padding: 3px 8px;
        font-size: 13px;
        
        cursor: pointer;
    
    }
    .search input{
        font-size: 10px;
    }
    .topProductNavbar_Nav{
        
        width: 8%;
        margin-right: 4px;
        padding: 2px;
        display: inline-block;
        cursor: pointer;
        /* flex: 1; */
    }
    .topProductNavbar_Nav p{
        font-size: 12px;
    }
}

/*******************coupon**************************/
#coupon{
    /* height: 100%; */
    height: 2000px;
    
    width:100%;
    
    background-color:transparent;
    
    opacity: 1;
    z-index:100;
    
    visibility: hidden;
    position: absolute;
    
    overflow: hidden;
    /* margin-top: -50%; */
    
}
#couponFilter{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    position: fixed;
}

#coupon img{
    width: 60%;
    max-width: 800px;
    max-height: 400px;
    
    background-color: black;
    margin-top: 200px;
    margin-left: 20%;
    align-items: center;
    z-index: 200;
    position: absolute;
    position: fixed;
    
    
}

#coupon button{
    margin-top: 195px;
    margin-left: 19%;
    background-color: lightgray;
    width: 20px;
    position:absolute;
    border-radius: 50%;
    z-index: 300;
    position: fixed;

}
#coupon button:hover{
    background-color: red;
}


/* #main{
    background-color: orange;
    height:800px;
    z-index: 50;
    margin-top: -50%;
} */